@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* ----------------shared styles-------------- */

.display-flex {
    display: flex;
}

.text-gray {
    color: #727272;
}


.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    padding: 21px 25px;
    border: 0;
    border-radius: 8px;
    background-color: rgb(255, 144, 14);
    margin-bottom: 50px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}


/* ----------------Header styles-------------- */

.brand {
    font-size: 2.8rem;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* --------nav styles------- */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    margin-right: 50px;
}

/* ---------banner styles------- */

.banner-content {
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
}

.banner-img {
    width: 100%;
}

/* ----Quick list of Our Features style--- */

.team {
    align-items: center;
    gap: 70px;
}

.team-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features {
    max-width: 540px;
}

#Quick-list {
    font-weight: 500;
}

#Features {
    color: rgb(255, 144, 14);
}

/* Features you will love & enjoy section styles */
.features-2 {
    gap: 120px;
    justify-content: center;
    align-items: center;
}

.features-2-title {
    border-left: 5px solid #FF900E;
    padding-left: 24px;
}

.features-2-card {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 600;
}

#Experience-batch {
    padding: 45px 42px;
    font-size: 1.5rem;
    margin-top: -100px;
    margin-left: -100px;
}

.Experience-year {
    font-size: 4rem;
}

.architect img {
    width: 100%;
}


/* Some Facts section related styles */
.section-description {
    max-width: 540px;
}

.section-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 100px;
    justify-items: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    height: 240px;
    width: 240px;

    border: 1px solid #FF900E;
}

.card-number {
    margin: 0;
    font-size: 2.8rem;
    font-weight: 600;
}

.card-name {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 5px;
}

/* Our Sponspors section styles */
.Sponspors-info {
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
}

.Sponspors-description {
    margin-top: 50px;
}

.Sponspors-company {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 50px;
}

.Sponspors-company img {
    filter: grayscale(100%);
}


/* footer styles */

.footer {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 130px;

}

.footer-info {
    text-align: center;
    padding: 40px 410px;
}

/*  ------media query related style------ */

/* -------mobile------ */

@media screen and (max-width: 576px) {

    main>section {
        margin-top: 50px;
    }

    .brand {
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
    }

    .navbar,
    .nav-links,
    .features-2 {
        flex-direction: column;
        gap: 15px;
        padding: 0;
    }

    .navbar {
        justify-content: space-around;
    }

    .banner-title {
        font-size: 2rem;
        font-weight: 700;
    }


    /* ----Quick list of Our Features style--- */
    .team {
        flex-direction: column-reverse;
    }

    .team-images,
    .section-cards,
    .Sponspors-company {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
        justify-items: center;
    }

    /* Features you will love & enjoy section styles */

    #Experience-batch {
        padding: 35px 50px;
        font-size: 1rem;
        margin-left: 0px;
    }

    .Experience-year {
        font-size: 2.5rem;
    }



    /* footer styles */

    .footer-info {
        padding: 20px 10px;
    }
}